# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.AdventOfCode2020.iml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Tuthm\Source\Repos\AdventOfCode2020\.idea\.idea.AdventOfCode2020\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
